.layout-nav-header::after {
	content: "";
	display: block;
	width: 90%;
	/* 横线长度 */
	height: 1px;
	/* 横线厚度 */
	margin: 0 auto;
	background: var(--borderColor-default);
}

.layout-nav-footer::before {
	content: "";
	display: block;
	width: 90%;
	/* 横线长度 */
	height: 1px;
	/* 横线厚度 */
	margin: 0 auto;
	background: var(--borderColor-default);
}